

.loginPage {
    padding: 5% 12%;
    display: inline-flex;
    color: #F0F0EA;
}

.left-container {
    width: 40%;
    margin-right: 5%;
    height: 75%;
    background-color: #063831;
    padding: 2% 5%;
    border-radius: 30px;

}
.submit-container{
    background-color: #1A282D;
    padding: 5% 5%;
    margin-bottom: 5%;
    border-radius: 78px;

}
.inputBox {
    background-color: #1A282D;
    color: #1A282D;
    font-size: 20px;
    color: #F0F0EA;
    border-style: none;
}
input {
    width: 100%;
}
textarea:focus, input:focus{
    outline: none;
}




.p-agreement {
    font-size: 12px;
    margin-bottom: 7%;
}
.loginButton {
    background-color: #D93A00;
    font-size: 20px;
    color: #F0F0EA;
    padding: 3% 30%;
    margin-top: 30%;
    border-radius: 78px;
    font-weight: bold;
}
.signupButton {
    background-color: #D93A00;
    font-size: 20px;
    width: 60%;
    color: #F0F0EA;
    padding: 3% 15%;
    text-decoration: none;
    border-radius: 78px;
    font-weight: bold;
}
.errorLabel {
    margin-left: 5%;
    margin-bottom: 5%;
    color: #D93A00;
    font-size: 12px;
    
}
.right-container {
    width: 60%;
    text-align: right;
    padding-left: 10%;
}

.introduction {
    margin-bottom: 15%;
}



.light-p {
    font-size: 16px;
    font-weight: 200;
}
.bold-h {
    font-size: 48px;
    font-weight: 600;
}